@model IEnumerable<BudgetCalculator.Data.BudgetProgess>

<div class="col-md-12">
    <table class="table table-striped table-bordered">
        <thead>
            
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Target)</th>
            <th>@Html.DisplayNameFor(model => model.Spent)</th>
            <th>@Html.DisplayNameFor(model => model.Left)</th>
@*            <th>Budget</th>
            <th>Target</th>
            <th>Spent</th>
            <th>Left</th>*@
        </thead>

        @foreach (BudgetCalculator.Data.BudgetProgess item in Model)
        {
            <tbody>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Target)</td>
                <td>@Html.DisplayFor(modelItem => item.Spent)</td>
                <td>@Html.DisplayFor(modelItem => item.Left)</td>
            </tbody>
        }
    </table>
</div>


@*
<th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Amount)</th>



@foreach (var item in Model)
        {
            <tbody>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tbody>
        }*@